.DS_Store
.obj
*.moc
Makefile*
*.dylib
*.so.*
*.so
*.so.debug
*.o
*~
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
libsQt5/*
libsQt4/*
doc/html/*
ui_*
*.exe

#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user

#QtCreator project files
*.pro.user
=======
*.pro.user*
*~
*.dll
debug/*
release/*
*.rc